header(class="px-4 py-4 bg-indigo-700 text-white md:px-12")
  div(class="flex items-center justify-between flex-wrap")
    a(class="mt-4 md:mt-0 text-xl md:text-2xl")(href="/")  Movie Shop
    ul(class="flex  md:flex-row justify-center items-center gap-4")
      li
        a(href="/") Home
      li
        a(href="/add") Add Movie
      li
        a(href="/about") About
